<!DOCTYPE html>
<html ng-app="studyModule">
<head>
    <title></title>
    <script src="../angular.min%20.js"></script>
    <link href="../bootstrap-theme.css" rel="stylesheet" />
    <link href="../bootstrap.css" rel="stylesheet" />
    <script>
        angular.module("studyModule", [])
        .controller("studyCtrl", function ($scope, $http) {
            $scope.getFruits = function () {
                $http.get("../xmlData.xml").then(function (response) {
                    $scope.fruits = [];
                    var sourceElems = angular.element(response.data.trim()).find("fruit");
                    //для работы с xml можно так же использовать jqLite, в данном случае используется метод find() который возвращает
                    //jqLite объект который содержит найденные элементы
                    for (var i = 0; i < sourceElems.length; i++) {
                        var elem = sourceElems.eq(i);
                        //метод eq() используется так как мы работаем с объектом
                        $scope.fruits.push({
                            name: elem.attr("name"),                            
                            price: elem.attr("price")
                        });
                    }
                });
            }
        });
    </script>
</head>
<body ng-controller="studyCtrl">
    <div id="tasksPanel" class="panel panel-primary" ng-controller="studyCtrl">
        <div class="panel-heading">
            <div class="panel-title">
                <button class="btn btn-success" ng-click="getFruits()">
                    <h2>Get Fruits!</h2>
                </button>
            </div>
        </div>
        <div id="panel" class="panel-body">
            <div class="row">
                <div ng-hide="fruits.length">
                    <h3 class="text-center">No Data</h3>
                </div>
                <div class="col-sm-4 col-md-4" ng-repeat="fruit in fruits">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title text-center">
                                <h3>{{fruit.name}}</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h3>Cost : {{fruit.price | currency}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
