<html ng-app="studyModule">
<head>
    <title>LimitTo Filter</title>    
    <script src="../angular.min%20.js"></script>
    <link href="../bootstrap-theme.css" rel="stylesheet" />
    <link href="../bootstrap.css" rel="stylesheet" />
    <script>
        angular.module("studyModule", [])
            .controller("studyCtrl", function ($scope) {
                $scope.items = [
                    { itemName: "Milk", itemCategory: "Dairy", itemPrice: 1.40, expireDate: 1 },
                    { itemName: "Cheese", itemCategory: "Dairy", itemPrice: 2.40, expireDate: 2 },
                    { itemName: "Water", itemCategory: "Drinks", itemPrice: 1.20, expireDate: 366 },
                    { itemName: "Juice", itemCategory: "Drinks", itemPrice: 3.30, expireDate: 60 },
                    { itemName: "Potato", itemCategory: "Vegetable", itemPrice: 5.90, expireDate: 14 },
                    { itemName: "Tomato", itemCategory: "Vegetable", itemPrice: 6.88, expireDate: 9 }
                ];

                $scope.limitValue = "5";
                $scope.limitRange = [];
                for (var i = (0 - $scope.items.length) ; i <= $scope.items.length; i++) {
                    $scope.limitRange.push(i.toString());
                }
            });
    </script>
</head>
<body ng-controller="studyCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>
                Items in cart
                <span class="label label-info">{{items.length}}</span>
                <p>Limit: <select class="text-info" ng-model="limitValue" ng-options="item for item in limitRange"></select></p>
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-3" ng-repeat="item in items | limitTo:limitValue">
                <!--фильтр limitTo используется для ограничения отображаемых элементов из источника данных-->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4>{{item.itemName | limitTo:limitValue}}</h4>
                        <!--так же limiTo применяется к строкам где он воспринимает каждый символ как элемент массива-->
                    </div>
                    <div class="panel-body">
                        <p><span class="h4">Category: </span>{{item.itemCategory | lowercase}}</p>
                        <p class="text-right"><span class="h4">Price: </span>{{item.itemPrice | currency}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
