<!DOCTYPE html>
<html ng-app="studyModule">
<head>
    <title>Forms</title>
    <script src="../angular.min%20.js"></script>
    <link href="../bootstrap.css" rel="stylesheet" />
    <link href="../bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("studyModule", [])
        .controller("studyCtrl", function ($scope) {
            $scope.tasks = [
                { action: "Buy flowers", complete: false },
                { action: "Go to gym", complete: false },
                { action: "Buy snickers", complete: true },
                { action: "Buy notebook", complete: false },
                { action: "Call friends", complete: false },
                { action: "Go to cinema", complete: false },
                { action: "Buy Big-Mac", complete: true },
                { action: "Buy a book", complete: false },
                { action: "Call mom", complete: false }
            ];
            $scope.addTask = function (newTask) {
                if (angular.isDefined(newTask) && angular.isDefined(newTask.action) && angular.isDefined(newTask.Priority)) {
                    //в данном случае проверка angular.isDefined(newTask) необходима в том случае, если пользователь ничего не укажет и просто нажмет на кнопку
                    //В консоли можно будет заметить ошибку которая связана с тем что newTask - undefined и мы пытаемся проверить его свойства
                    //в свою очередь newTask undefined потому что ни в один контрол не было введено значение и angular не создал объект
                    //angular.isDefined(newTask.action) и angular.isDefined(newTask.Priority) отвечают за проверку свойств объекта newTask
                    $scope.tasks.push({
                        action: newTask.action + " ( Priority: " + newTask.Priority + ")"+ " created by: " + newTask.author,
                        complete: false
                    });
                };
                //метод addTask используется для создания новой задачи и добавления ее в список задач
            };
        });
    </script>
</head>
<body class="text-center well">
    <div id="tasksPanel" class="panel panel-primary" ng-controller="studyCtrl">
        <div class="panel-heading">
            <div class="panel-title">
                <h2>
                    Incomplete tasks
                    <span class="label label-info">
                        {{(tasks | filter : {complete:'false'}).length}}
                        <!--здесь используется фильтр с помощью директивы filter, он указывает на те элементы которые помечены как false и с помощью length получает их колличество,
                        так же здесь используется class='label label-info' Bootstrap для визуального оформленеия-->
                    </span>
                </h2>
            </div>
        </div>
        <div id="panel" class="panel-body">
            <div class="row">
                <div class="col-xs-3">
                    <div class="well">
                        <h2>Add new Task</h2>
                        <div class="form-group row">
                            <label for="actionText">Action:</label>
                            <input id="actionText" class="form-control" ng-model="newTask.action" />
                        </div>

                        <div class="form-group row">
                            <label for="actionLocation">Priority:</label>
                            <select id="actionLocation" class="form-control" ng-model="newTask.Priority">
                                <option>High</option>
                                <option>Regular</option>
                                <option>Low</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="actionLocation">Author:</label>
                            <select id="author" class="form-control" ng-model="newTask.author">
                                <option>Sydorenkovd</option>
                                <option>Guest</option>
                                <option>Angular</option>
                            </select>
                        </div>
                        <button class="btn btn-primary btn-block" ng-click="addTask(newTask)">Add</button>
                        <!--объекта newtask не существует при первом запуске приложение, но как только пользователь введет значение  в один из контролов ( Action или Priority)
                        то Angular автоматически создаст объект и запишет туда свойство
                        в директиве ng-click вызывается метод и ему передается уже готовый и заполненный объект-->
                    </div>
                </div>
                <div class="col-xs-3" ng-repeat="task in tasks">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h3>{{task.action}}</h3>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h3>
                                <input id="checkbox" type="checkbox" class="checkbox checkbox-inline" ng-model="task.complete" />
                                <!--ng-model используется для создания two-way binding, в таком случае при изменении состояния checkbox будет изменятся содержимое модели,
                                и все one-way или two-way bindings которые используют значения модели-->
                                <label for="checkbox">{{task.complete}}</label>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
